.header {
  height: 4.4rem;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invoicesSum {
  color: var(--secondary-font-color);
}

.sumText {
  display: none;
}

@media (width >= 768px) {
  .sumText {
    display: inline;
  }
}
