.paid {
  --status-color: 51, 214, 159;
}

.pending {
  --status-color: 255, 143, 0;
}

.draft {
  --status-color: 55, 59, 83;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  height: 4rem;
  width: 10.4rem;
  border-radius: var(--border-radius);
  background: rgba(var(--status-color), 0.06);
  color: rgb(var(--status-color));
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
}

.status {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: rgb(var(--status-color));
}
